<!-- claire added: footer partial so no need to retype in each ejs file ew -->
 <!-- pretty much same as before -->
<footer class="footer">
    <p>&copy; 2026 Atlas Arena Project</p>
</footer>
</body>
</html>