<!-- claire added: header partial so no need to retype in each ejs file. mostly used what was already written -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= page_title || "Atlas Arena" %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="topbar">
        <div class="brand">
            <!-- claire added: bc i made the profile page, need way to get back home; linked logo to home pg -->
            <a href="/" class="brand-logo">Atlas Arena</a>
        </div>
        <div class="auth-buttons">
            <!-- claire added: if there is a user logged in, show profile link / sign out-->
            <% if (locals.currentUser) { %>
                <span class="welcome-message">
                    Welcome, <%= locals.currentUser.username %>
                </span>
                <a href="/profile" class="auth-button profile">Profile</a>
                <a href="/logout" class="auth-button logout">Sign Out</a>
            <!-- claire added: if there is no user logged in, show sign in / join link -->
            <% } else { %>
                <a href="/login" class="auth-button login">Sign In / Join Arena</a>
            <% } %>
        </div>
    </header>